<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <section className="full-page">
    <form className="form" id="login" name="login">
      <h4>Login/Register</h4>

      <input id="email" type="email" name="email" />
      <div className="password-container">


        <input id="password" name="password" />
        <div className="password-message">


        </div>
        <div>

        </div>
      </div>

      <button type="submit">
        submit
      </button>



      <p>
        Forgot your password?
        Too bad, resetting your password is too hard!
      </p>
    </form>
  </section>
</body>

</html>